<h1><%= @submission.name %> <small>by <%= anonymized_name(@submission.author) %> from <%= @submission.school %></small></h1>

<%= render partial: "shared/console" %>
<br/>
<h2>Code</h2>
<textarea id="code" rows="60" cols="80" readonly><%= @submission.upload %></textarea>

<%= render partial: "shared/editor_code" %>

<script>
    jQuery(function () {
        runSkulpt(document.getElementById('code').value);
    })
</script>