<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <div id="error_explanation">
        <h3><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h3>

        <ul>
          <% submission.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% unless submission.persisted? %>
    <div class="form-group">
      <%= form.label :upload_file, "Upload File" %>
      <%= form.file_field :upload_file, class: "form-control", required: true %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Assignment Title" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Zurk II: The Wizard of Zzoborf", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :author, "Student First Name or Group Name" %>
    <%= form.text_field :author, class: "form-control", placeholder: "Ada", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :school, "Author's School" %>
    <%= form.text_field :school, class: "form-control", placeholder: "Turing Grammar", required: true %>
  </div>


  <div class="form-group">
    <%= form.label :classroom, "Author's Class" %>
    <%= form.text_field :classroom, class: "form-control", placeholder: "7A", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :submitter_email, "Teacher Name" %>
    <%= form.text_field :submitter_name, class: "form-control", placeholder: "Charles Babbage", required: true %>
  </div>
  <div class="form-group">
    <%= form.label :submitter_email, "Teacher Email Address" %>
    <% if submission.persisted? %>
      <%= link_to "Send email", "mailto:#{submission.submitter_email}", target: "_blank" %>
    <% end %>
    <%= form.email_field :submitter_email, class: "form-control", placeholder: "charles.babbage@babbage.edu", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :course, "Course" %>
    <%= form.select :course, Submission::COURSES.invert, { include_blank: true },{ required: true, class: "form-control" } %>
  </div>

  <% unless submission.persisted? %>
    <div class="form-group">
      <div class="form-check">
        <%= form.check_box :no_pii, class: "form-check-input", required: true %>
        <%=
          form.label :no_pii,
                     "I have checked that this assignment <strong>does not</strong> contain any <strong>Personally Identifiable Information</strong>".html_safe,
                     class: "form-check-label",
                     required: true
        %>
      </div>
    </div>
  <% end %>

  <% if user_signed_in? && submission.persisted? %>
    <hr/>

    <div class="form-group">
      <div class="form-check">
        <%= form.check_box :public, class: "form-check-input" %>
        <%= form.label :public, class: "form-check-label" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :round %>
      <%= form.select :round, Submission::ROUNDS.invert, { include_blank: true }, { class: "form-control", required: true } %>
    </div>

    <table class="table">
      <thad>
        <tr>
          <th style="width: 200px">Judge</th>
          <th style="width: 85px">Score</th>
          <th>Note</th>
        </tr>
      </thad>
      <%= form.fields_for :ratings do |rating_form| %>
        <% if rating_form.object.user == current_user || rating_form.object.score.present? || rating_form.object.note.present? %>
          <tr>
            <td>
              <%= rating_form.hidden_field :user_id %>
              <%= rating_form.object.user.name %>
            </td>
            <td>
              <div class="form-group">
                <% if rating_form.object.user == current_user %>
                  <%= rating_form.number_field :score, in: 0..10, step: 1, class: "form-control" %>
                <% else %>
                  <%= rating_form.object.score %>
                <% end %>
              </div>
            </td>
            <td>
              <div class="form-group">
                <% if rating_form.object.user == current_user %>
                  <%= rating_form.text_field :note, class: "form-control" %>
                <% else %>
                  <%= rating_form.object.note %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <div class="form-group">
      <%= form.label :upload_file, "Upload" %>
      <%= form.text_area :upload, required: true, rows: 20, class: "form-control code" %>
      <input type="button" id="run-button" value="RUN!" class="btn btn-large btn-info" style="margin: 1rem 0;"/>
      <%= javascript_tag do %>
        $("#run-button").click(function(e) {
          e.preventDefault();
          var code = document.getElementsByClassName('code')[0].value
          runSkulpt(code);
          $("#console-container").show();
        })
      <% end %>
      <div id="console-container" style="display: none;">
        <%= render partial: "shared/console" %>
      </div>
      <%= render partial: "shared/editor_code" %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit(submission.new_record? ? "Submit Entry!" : "Update", class: "btn btn-success") %>
  </div>
<% end %>
