<!DOCTYPE html>
<html>
  <%= render partial: "shared/common_head" %>
  <body>
    <div class="container">
      <%= render partial: "shared/header" %>
      <br/>
      <%= render "shared/flash_messages" %>

      <%= yield %>
      <br/>
      <br/>
    </div>

    <%= render partial: "shared/footer" %>
  </body>
</html>
